[2020-12-26 17:17] infiniteoverflow opened #2 "Scrollable Bug in Homepage"
When we scroll down on the homepage , the Recent Alerts and Recent Homework section acts like a scrollable widget and due to that the main scrolling is not accessible.

**Solution :**  Setting the attribute `physics :` of the ListView to `NeverScrollableScrollPhysics` will make sure the inner ListView is not scrollable and takes up the space required by the inner ListView.

The following video can

[2020-12-26 17:19] avinashkranjan commented on #2
Assigned to you @infiniteoverflow You can go ahead with the fix.

[2020-12-27 16:13] #2 closed

[2020-12-28 18:35] Sarthak-9 opened #4 "Adding new Homeworks and Classes under SWoC 2021"
The idea of this app looks interesting. But as I can see that the homework and classes are hard coded. So I can work on a method to add new homeworks and classes to this list. I will add beautifully designed pages for adding these. May I go ahead with this under Script Winter of Code 2021. I have ideas of adding various other features also to this app.

[2020-12-28 18:59] avinashkranjan commented on #4
Sure @Sarthak-9 Go ahead....
Just Change the Issue heading to SWoC 2021.. Assigned to Issue to you..

[2020-12-28 19:19] Sarthak-9 commented on #4
Sure. Thanks

[2021-01-01 08:23] Siddhant-K-code commented on #4
Idea: can we try to scrap google classrooms, Microsoft Teams Assignment to the list.
implementation is hard, but we can give it a try.

[2021-01-02 13:43] hareshnayak opened #5 "App logo not attached"
I can do that if assigned under #SWoc 2021

[2021-01-02 14:44] avinashkranjan commented on #5
@hareshnayak Which logo are you talking about?

[2021-01-02 15:14] hareshnayak commented on #5
the app logo (ic_launcher.png for android) is still the default flutter logo which should have been the app logo

[2021-01-02 15:30] ShrutiJ-01 commented on #5
I would be glad to work on this!I am a SWOC participant

[2021-01-02 15:36] avinashkranjan commented on #5
@ShrutiJ-01 Since Issues are First Come First Serve.. This issue has been  assigned to @hareshnayak
@hareshnayak Go ahead and add the app logo.

[2021-01-02 15:52] ShrutiJ-01 commented on #5
@avinashkranjan Sure👍👍 All the best @hareshnayak :)

[2021-01-02 16:53] hareshnayak commented on #5
Thanks @avinashkranjan @ShrutiJ-01

[2021-01-03 07:16] hareshnayak opened #6 "Adding Recent alerts View all button and screen of all alerts under #SWoC 2021"
The recent alert has only two alerts in the list and the view all below it is not a button
VIEW ALL could be made a button to navigate to a screen where there are more alerts alike the given two

Please assign me this task under #SWoC 2021

[2021-01-03 07:24] HimeshNayak opened #7 "Homework alerts view all button and screen for all given homeworks under #SWoC 2021"
there are only two homework assignments given till now, a view all button could be added below that (viz. added as a text currently) which could navigate to the screen with all homework assignments

I will be glad to work on it under #SWoC 2021

[2021-01-03 07:32] hareshnayak opened #8 "Designing and implementing UI of Profile Page #SWoC 2021"
The top bar consists of a Profile icon. It could be tapped to open the details of the user like a profile page. I would like to make that as an Animated Overlay which will consist of  name, class of the user with a profile picture

I will be happy to design the profile overlay under SWoC 2021

[2021-01-03 07:33] harikishantk opened #9 "Integrating with Google Classroom or Microsoft Teams API - SWOC 2021"
Connect the Google Classroom or Microsoft Teams API to the app, to get the updated list of Homeworks, Marks Assigned and Courses which User had registered.

[2021-01-03 08:41] HimeshNayak opened #10 "Attaching Firebase as a Backend"
As of now backend is not attached to the app. We can use Firebase as a backend. Please assign this issue to me under SWOC.

[2021-01-03 08:50] avinashkranjan commented on #10
Assigned to you @HimeshNayak

[2021-01-03 09:02] HimeshNayak commented on #10
Should I make a firebase project with my email or would you create one and add me as a collaborator?

[2021-01-03 09:08] avinashkranjan commented on #10
I'll add you as collaborator.. forward me your mail id

[2021-01-03 09:09] HimeshNayak commented on #10
Okay great! Its himeshnayak015@gmail.com

[2021-01-03 09:11] avinashkranjan commented on #10
Added You as Editor @HimeshNayak

[2021-01-03 09:12] avinashkranjan commented on #6
Sure @hareshnayak Go ahead

[2021-01-03 09:13] avinashkranjan commented on #7
Assigned to you @HimeshNayak

[2021-01-03 09:14] avinashkranjan commented on #8
Assigned to you.. @hareshnayak

[2021-01-03 09:14] avinashkranjan commented on #9
@harikishantk Do you want to work on this issue?

[2021-01-03 09:15] avinashkranjan commented on #4
You can go ahead with the implementation @Siddhant-K-code

[2021-01-03 09:16] harikishantk commented on #9
Yes, I am.

[2021-01-03 09:18] avinashkranjan commented on #9
Assigned to you.. @harikishantk

[2021-01-05 07:20] Imadarshsri opened #11 "Adding Authentication feature in the app under SWoC 2021"
The current version of the app does not have any authentication feature. I would like to work on this issue to add the authentication feature in the application. The idea is to build and design the Login and Signup page that will allow users to either signup or login to the app using Email id and Password or using Google Authenication.

[2021-01-05 07:22] avinashkranjan commented on #11
@Imadarshsri Assigned to you..

[2021-01-05 07:29] Imadarshsri commented on #11
Thanks...Add me to the Firebase Project for activating authentication services. My email id is: imadarshsri@gmail.com

[2021-01-05 07:39] avinashkranjan commented on #11
Ohh Sure Sure.. Gimme a Sec.

[2021-01-05 09:45] hareshnayak opened #12 "Fixing overflow in the cards #SWoC 2021"
there is an overflow in Cards of Alert, Home work and get started button at the welcome page

I'll be glad to fix them under SWoC 2021

![WhatsApp Image 2021-01-05 at 16 05 46](https://user-images.githubusercontent.com/61956975/103636832-8cacd300-4f70-11eb-8ec7-337eead1d6a4.jpeg)
![WhatsApp Image 2021-01-05 at 16 05 47](https://user-images.githubusercontent.com/61956975/103636847-93d3e100-4f70-11e

[2021-01-05 14:53] Imadarshsri commented on #11
Great...

[2021-01-07 06:11] purnima143 opened #14 "Design: UI design of Login and Signup page #SWOC 2021"
The current app doesn't have a Login/Signup page. Below are a few designs, which are designed according to the current theme i.e. dark theme + purple color.

## Design 1
![Design1](https://user-images.githubusercontent.com/57852378/103857704-fc3fd100-50dc-11eb-932d-b75b460d123f.png)

## Design 2
![Design2](https://user-images.githubusercontent.com/57852378/103857715-02ce4880-50dd-11eb-8682-d07d6a9

[2021-01-07 06:13] purnima143 commented on #14
@avinashkranjan  please check the designs.

[2021-01-07 12:03] avinashkranjan commented on #14
@purnima143 Great Work.. I love the First one. So we'll go with that design..
@Imadarshsri Check out the UI designs and Code accordingly..Go with **Design 1**

[2021-01-07 13:25] Imadarshsri commented on #14
@avinashkranjan...okay I will get it done...

[2021-01-07 14:18] hareshnayak opened #15 "Adding animations to cards"
When the screen appears, the cards (alerts and homeworks) will appear fading in from right/left

Please assign it to me under SWoC 2021

[2021-01-07 14:35] avinashkranjan commented on #15
Sure Go ahead @hareshnayak

[2021-01-08 05:41] avinashkranjan commented on #14
@all-contributors please add @purnima143  for design

[2021-01-08 05:42] #10 closed

[2021-01-09 05:39] purnima143 opened #21 "Design: Homepage UI design #SWoC 2021"
Below is the design of the homepage.
## Homepage design
![homepage](https://user-images.githubusercontent.com/57852378/104084109-9f722100-526a-11eb-8dc6-6bf09728c779.png)
## Overall design along with login and signup page
![friday](https://user-images.githubusercontent.com/57852378/104084111-a1d47b00-526a-11eb-8ff0-832f4c4f1fdb.png)

[2021-01-09 05:46] avinashkranjan commented on #21
Change `you won't miss another assignment deadline or any upcoming test.` to `Your Personal Classroom Assistant` Rest It's Great...
Great Job..

[2021-01-09 05:48] #12 closed

[2021-01-09 05:50] purnima143 commented on #21
With modification
![homepage-friday](https://user-images.githubusercontent.com/57852378/104084378-8c605080-526c-11eb-8520-81cace2d2f25.png)

[2021-01-09 09:56] avinashkranjan commented on #21
Assigning it to you @Imadarshsri

[2021-01-09 18:13] HimeshNayak opened #23 "Adding Splash Screen"
Adding a Splash Screen for android
I would like to work on this issue
For more info, you can visit
https://flutter.dev/docs/development/ui/advanced/splash-screen

[2021-01-09 19:46] avinashkranjan commented on #23
Sure Go ahead @HimeshNayak

[2021-01-10 05:13] #11 closed

[2021-01-10 05:13] #14 closed

[2021-01-10 05:13] #21 closed

[2021-01-10 05:21] #7 closed

[2021-01-10 06:14] avinashkranjan commented on #8
@hareshnayak Should I ask fellow contributors to design the page then you can code or you're going to both design and code?

[2021-01-10 06:57] HimeshNayak opened #26 "Navbar missing in HomeworkPage"
When this is redirected from view all in the HomeScreen the navbar seems to be missing....
Extension of #7
I'll fix it.

[2021-01-10 07:44] hareshnayak commented on #8
I can do both,
Let me send the PR first, if u find that there should be a different approach to it, u may give the design work to someone.

But let me first design n send the PR

[2021-01-10 08:10] avinashkranjan commented on #8
Sure Sure

[2021-01-10 08:12] #26 closed

[2021-01-11 19:52] Imadarshsri opened #29 "Adding Auto-login Feature #SWoC 2021"
The current authentication services lack an **Auto Login** feature which will provide a smooth User Experience to the users and will remove the hassle of logging in to the app each time you open it.

I would like to work on this under SWoC 2021.

[2021-01-12 10:20] avinashkranjan commented on #29
Sure go ahead @Imadarshsri

[2021-01-13 17:59] HimeshNayak opened #32 "Connecting backend to homework cards"
Data in Recent Homework cards can be called from the firestore backend
- FutureBuilder (or StreamBuilder) can be used.
- Firestore DB has to be also made

Please assign this issue to me under SWoC.

[2021-01-13 18:03] HimeshNayak opened #33 "Pixels overflowing in Login Page"
Here is the ss
![image](https://user-images.githubusercontent.com/30944790/104491041-af398e80-55f7-11eb-81df-d9659a003b9c.png)

Please assign this issue to me under SWoC.

[2021-01-14 09:15] sakshikhachane commented on #15
@avinashkranjan Can I work on this issue if available? @hareshnayak has been assigned many issues.

[2021-01-14 09:27] hareshnayak commented on #15
I have already started working on it and have sent PRs for the rest of 'em
too...

Thankyou for understanding

On Thu, Jan 14, 2021, 14:45 Sakshi Khachane <notifications@github.com>
wrote:

[2021-01-14 16:51] avinashkranjan commented on #32
Sure Go ahead @HimeshNayak

[2021-01-14 16:51] avinashkranjan commented on #33
Fix it @HimeshNayak

[2021-01-14 16:54] #29 closed

[2021-01-14 17:22] avinashkranjan opened #36 "Animating The Navbar"
# AIM
- The main purpose is the animate the navbar. So, It looks more user friendly and interactive.

# Details
- You can choose for multiple types of animation and select and code which suites the best.
- Before you choose one and start working. Send a gif in this Issue showing what would that look like.

[2021-01-14 17:22] avinashkranjan opened #37 "Animating the Navbar"
# AIM
- The main purpose is the animate the navbar. So, It looks more user friendly and interactive.

# Details
- You can choose for multiple types of animation and select and code which suites the best.
- Before you choose one and start working. Send a gif in this Issue showing what would that look like.

[2021-01-14 17:23] #36 closed

[2021-01-14 17:57] avinashkranjan commented on #4
Any updated @Siddhant-K-code @Sarthak-9 You guys need some ideas implementing it?

[2021-01-14 17:57] avinashkranjan commented on #9
What's the Progress? @harikishantk

[2021-01-14 18:06] HimeshNayak opened #39 "UI changes in homework_screen.dart"
The homework screen looks too plain. Follow the theme of other pages i.e darker color for the parent element and then and overlay over that with a lighter color.

I'll fix this.

[2021-01-14 18:07] avinashkranjan commented on #39
Go ahead @HimeshNayak

[2021-01-14 18:17] harikishantk commented on #9
Doing some research on it, need some more time.

[2021-01-14 18:19] avinashkranjan commented on #9
Sure Sure @harikishantk , I was just checking if you're still working on the issue....Take your time...If you need any help kindly dm me or mentors

[2021-01-14 18:31] #33 closed

[2021-01-14 18:34] avinashkranjan commented on #15
@sakshikhachane I've created a issue for Animating Navbar if you're up for it.. Comment there I'll assign you #37

[2021-01-15 04:35] Imadarshsri commented on #37
I can do this. I will let you know about the animation which we could use for the NavBar.

[2021-01-15 06:11] Sarthak-9 commented on #4
I am working on it but we can have a discussion

[2021-01-15 07:45] avinashkranjan commented on #37
Sure @Imadarshsri Go ahead.... Assigning it to you..

[2021-01-17 13:03] #23 closed

[2021-01-17 13:47] purnima143 commented on #8
## Design for profile page
![profilee](https://user-images.githubusercontent.com/57852378/104844860-887d9f80-58f8-11eb-99b7-487ebb46ba3d.png)

[2021-01-17 13:56] avinashkranjan commented on #8
@hareshnayak Once I confirm the Design you can start working on it.. so, wait for me to Confirm the design..

[2021-01-17 14:03] hareshnayak commented on #8
Yes, sure

On Sun, Jan 17, 2021, 19:26 Avinash Kr. Ranjan <notifications@github.com>
wrote:

[2021-01-18 04:14] purnima143 commented on #8
![Profile page2](https://user-images.githubusercontent.com/57852378/104871672-b6eb9100-5971-11eb-860d-98701db5bed6.png)

[2021-01-18 04:15] purnima143 commented on #8
@avinashkranjan  Please check out the new design

[2021-01-18 07:48] Imadarshsri commented on #37
Hey, sorry for the late info, I am working on implementing this animated navigation bar.

![navBarAnimation1](https://user-images.githubusercontent.com/45717875/104886279-7a2e9280-598f-11eb-90c8-3ec9a46e3115.gif)

Here, instead of this particular color schema, I am using our app's theme colors

[2021-01-18 08:48] avinashkranjan commented on #8
This Looks Good..@hareshnayak Go ahead with this design and start working on it's Implementation..

[2021-01-18 08:50] avinashkranjan commented on #37
@Imadarshsri ..This Looks Good, But I don't think there's enough space in the navbar to implement this..

[2021-01-18 09:15] Imadarshsri commented on #37
yeah, I will try to implement this as minimal as possible.

[2021-01-18 09:18] avinashkranjan commented on #37
Okay Then Go ahead..

[2021-01-18 12:50] hareshnayak commented on #8
great!

[2021-01-25 06:19] #37 closed

[2021-01-25 20:04] avinashkranjan commented on #8
Any Updates @hareshnayak ???

[2021-01-29 08:31] avinashkranjan commented on #39
Are you still working on this issue?? @HimeshNayak

[2021-01-29 08:32] avinashkranjan commented on #15
Are you still working on this issue??  @hareshnayak

[2021-01-29 08:33] avinashkranjan commented on #5
Are you still working on this issue?? Or should I assign it to someone else?? @ShrutiJ-01

[2021-01-29 08:34] avinashkranjan commented on #8
Are you working on this issue or should I assign it to someone else?? @hareshnayak

[2021-01-30 05:33] Imadarshsri commented on #8
@avinashkranjan... If nobody is working on it, Can I take this issue??

[2021-01-30 06:23] avinashkranjan commented on #8
Go Ahead @Imadarshsri while you're on it change the `Hello, Sir` to `Hello, Username`

[2021-01-30 06:51] Imadarshsri commented on #8
Thanks...I will do it...

[2021-01-30 19:07] Imadarshsri opened #41 "Add UserInfo model and collection to the App"
In order to display the information in Profile Page, we need to collect the relevant information from the users and need to create a `User` model to hold them and also a `users` collection in Firestore for the same.

Tasks that need to be done:

- [ ] Create a `User` model/class with relevant attributes
- [ ] Create a `users` collection for saving user information
- [ ] Create a Form to be display

[2021-01-30 19:59] avinashkranjan commented on #41
Assigned to you @Imadarshsri

[2021-01-31 11:50] avinashkranjan commented on #5
@ShrutiJ-01 Do You want to work on this issue???

[2021-02-05 21:04] #8 closed

[2021-02-05 21:04] #41 closed

[2021-02-08 07:47] Imadarshsri opened #43 "Adding Calender in Classes Page of the App #SWoC 2021"
The classes Page does not have a calendar integrated into it. I would like to work on this by adding customizable calender.

[2021-02-08 08:46] avinashkranjan commented on #43
Sure Go ahead @Imadarshsri

[2021-02-11 07:25] mysterio0801 commented on #5
@avinashkranjan I would like to work on this.

[2021-02-11 07:30] avinashkranjan commented on #5
Sure @mysterio0801 Go ahead

[2021-02-11 07:34] mysterio0801 commented on #5
Thanks @avinashkranjan

[2021-02-22 20:07] avinashkranjan commented on #5
Any Updates @mysterio0801

[2021-02-24 09:12] ajay963 opened #44 "integration of pageview with navigationBar"
integration of pageview with navigationBar gives users more control over app,
navigating through pageView as well as navigation bar make this app really awesome

[2021-02-24 10:39] avinashkranjan commented on #44
It Would, Are you willing to work on that feature.

[2021-02-24 11:53] ajay963 commented on #44
Yes, please assigned it to meee

[2021-02-25 15:42] #44 closed

[2021-02-25 15:49] ajay963 commented on #43
17 days have passed ,
If nobody working on this feature  please assign this task to me

[2021-02-25 15:51] avinashkranjan commented on #43
Sure Go Ahead @ajay963

[2021-02-25 19:48] #43 closed

[2021-02-26 20:56] #5 closed

[2021-02-28 09:23] #32 closed

[2021-02-28 09:24] #39 closed

[2021-02-28 14:06] #6 closed

[2021-03-08 17:40] subhangi2731 commented on #15
can you please assign this issue to me?

[2021-03-08 17:40] subhangi2731 commented on #9
can you please assign this issue to me?

[2021-03-08 18:29] abhishek7997 commented on #15
Can I be assigned this issue? I have built a flutter app before.

[2021-03-08 19:38] avinashkranjan commented on #15
Assigned to you @subhangi2731..
@abhishek7997 Issues are First Come First Serve

[2021-03-08 19:39] avinashkranjan commented on #9
Assigned to you @subhangi2731

[2021-03-08 19:46] micksharma commented on #9
Can i work on this issue ?

[2021-03-09 08:38] mohitsoni-dev opened #55 "Replace deprecated APIs/Widgets"
Many widgets such as RaisedButton, FlatButton, OutlineButton, etc. are deprecated and should not be used.
I would like to work on this issue as a part of GSSoc. Please assign me this job. Thanks.

[2021-03-09 15:46] kanchi12P opened #56 "LOGO DESIGN"
I would like to make a logo for this project.
so, can I go for it?
I am GSSoC'21 participant.
please assign it to me.

[2021-03-09 17:05] priyaverma20 commented on #9
Can you please assign this to me!

[2021-03-09 17:28] avinashkranjan commented on #9
Hey @micksharma and @priyaverma20 The Issue is already assigned..But you can help @subhangi2731 and distribute the work..I'll be sure to reward points based on your input.

[2021-03-09 17:28] avinashkranjan commented on #56
Go Ahead @kanchi12P Assigning it to you

[2021-03-09 17:39] priyaverma20 commented on #9
okay.. works for me if @subhangi2731  agrees.

[2021-03-09 17:48] namancoder opened #57 "Form Detail Correction"
The Year column in the form is not correct as it accepts only values only less than 5 and doesn't specify which year to enter.

[2021-03-09 18:13] akshay-96804 commented on #57
I would like to contribute to this task. Please assign it to me.

[2021-03-09 18:48] SamarpanCoder2002 opened #58 "Google Authentication Through Firebase"
Hello @avinashkranjan, I  would like to add Google Authentication through firebase in this project...... I noticed that you already assigned email and password authentication to this project but not google authentication....... If I can forward with this, please gives me permission and assign me to here... I am also a **_gssoc21_**  participant... Thank you @avinashkranjan .....

[2021-03-09 18:57] kanchi12P commented on #56
Thanks for assigning
I will be submitting logo soon
Its almost ready

[2021-03-10 05:15] Aanchal116 commented on #15
Hii @avinashkranjan
I would like to work on this issue as aprt of GSSOC'21. Could you please assign this task to me?

[2021-03-10 10:11] rohats871 opened #60 "Project not working on iOS Devices"

[2021-03-10 10:15] rohats871 opened #61 "Project not working on iOS Devices (iphone 8 and later [with iOS 8 & above])"
My Xcode is all updated to iOS 9 and Above  plus i tried on iOS 8.
<img width="1176" alt="Screenshot 2021-03-10 at 3 45 21 PM" src="https://user-images.githubusercontent.com/68010359/110613742-a14b5880-81b7-11eb-94a3-f0fb538c7834.png">

warning: The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0 to 14.4.99. (

[2021-03-10 10:39] #60 closed

[2021-03-10 11:30] HimeshNayak commented on #55
Issue fixed by @mohitsoni-dev #62
@avinashkranjan

[2021-03-10 13:27] starlightknown opened #64 "add a progress graph"
Can we add a progress graph so that we can track our marks and work according to that?

[2021-03-10 14:52] nicks101 commented on #4
If no one's working on it, can it be assigned to me?

[2021-03-10 15:28] avinashkranjan commented on #4
Go Ahead @nicks101

[2021-03-10 15:31] avinashkranjan commented on #58
Go Ahead @SamarpanCoder2002
You need access to Firebase for that, Kindly DM me on discord for that will giv you access to firebase.

[2021-03-10 15:31] avinashkranjan commented on #64
Would you like to work on that issue? @kcoder63

[2021-03-10 16:00] SamarpanCoder2002 commented on #58
Ok

[2021-03-10 16:45] nicks101 commented on #4
I'm getting this error while signing up.

[code]

The emulator I'm running on: `AOSP on IA Emulator (mobile) • emulator-5554 • android-x86 • Android 9 (API 28) (emulator)`

Below are the screenshots of the emulator stuck on the sign-up screen.

![Screenshot_1615394617](https://user-images.githubusercontent.com/32807816/110665024-fa35e380-81ed-11eb-8013-3890724a15bb.png)
![Screenshot_1615394620](ht

[2021-03-10 16:47] avinashkranjan commented on #4
@nicks101 Lemme check on my device once..Will get back to you in a giffy.

[2021-03-10 16:51] avinashkranjan commented on #61
I haven't checked it any iOS devices or Simulator..But If there's this issue I'll check it once.. But if you're looking forward to work on this bug/issue kindly inform me. I'll assign it to you..

[2021-03-10 17:00] avinashkranjan commented on #4
hey @nicks101 There seems to be some issue with signup process..It's not re-directing to home page after signing up..
I'll fix the bug soon for the time being you can do this: After you've created you email and password and it's stuck on signup page..exit the app clear storage and then login with the created credentials you'll be logged into the app..

[2021-03-10 19:50] nicks101 commented on #4
okay.

[2021-03-10 20:23] rohats871 commented on #61
I would love to do that , but I have already tried it so I might require someone else also

[2021-03-11 08:10] nicks101 commented on #4
hey @avinashkranjan , can you give me the template for firestore cloud? Mainly the path to classes document of a student.

Also, I wanted to clarify the below points :

1. Only dummy data (either from firebase or hardcoded in-app) is being displayed on every screen. This is because there is no option to add any data (other than user info while signing up) maybe.
2. Some of the screens (recent tab,

[2021-03-11 11:02] ritesh1731 commented on #57
I would like to contribute to this issue under GSSOC21. Can you please assign it to me?

[2021-03-11 14:20] SpecTEviL commented on #56
Hey @avinashkranjan, Vishal Patil here, and I would like to try this issue under GSSoC'21. To view my previous work you can visit https://spectevil.github.io. Also, my Github profile logo is made by me hence I have experience of working with logos.
If you can assign this issue to me as well it would be great.
Thanks!

[2021-03-11 15:04] avinashkranjan commented on #61
Okay, I'll check and I'll let you know

[2021-03-11 15:21] #55 closed

[2021-03-11 17:00] believeInJha commented on #64
I would like to work on this as a part of GSSoC'21, could you please assign it to me and guide me with the process?

[2021-03-11 18:03] HimeshNayak opened #67 "Add obscure password option in login/signup page"
**Is your feature request related to a problem? Please describe.**
User cannot view the password he/she has entered.

**Describe the solution you'd like**
Toggle button can be added to show and hide password

**Describe alternatives you've considered**
Any other suggestions are welcomed.

**Additional context**
Participants of GSSOC21 willing to work on this issue can comment here and I will assig

[2021-03-11 18:20] D-Ajay-Kumar commented on #67
Can I do it? GSSoC participant

[2021-03-11 18:28] HimeshNayak commented on #67
sure, go ahead @D-Ajay-Kumar

[2021-03-11 18:28] D-Ajay-Kumar commented on #67
Thanks. Working on it.

[2021-03-11 18:35] HimeshNayak opened #68 "Add image picker to profile_screen"
**Profile Image of the user**
Add image picker to the profile_screen, store the image in the Firebase Storage and display the image accordingly where ever it is called.

Participants of GSSOC21 willing to work on this issue can comment here and I will assign it to you.

If you need any assistance / guidance, do tell.

[2021-03-11 18:39] seadhant commented on #68
assign it to me, i can do it

[2021-03-11 18:41] HimeshNayak commented on #68
sure, go ahead @seadhant

[2021-03-11 18:45] D-Ajay-Kumar commented on #67
There already is an Icon at the end of the text field. Where do you propose I add a new IconButton to turn the obscurity on and off?

[2021-03-11 18:49] HimeshNayak commented on #67
I guess, the suffix button in the field should be used as the toggle button. You can add the functionality to it only and change the icon accordingly.

[2021-03-11 18:50] D-Ajay-Kumar commented on #67
Okay Boss! On it.

[2021-03-11 19:02] D-Ajay-Kumar commented on #67
The AuthInputField widget was created separately to avoid repeating the decoration right? If that is the case then I have a cleaner method of doing the same without having to repeat the decoration code using .copyWith() method and moving the decoration to  the constant file. Not only will this remove a separate file dedicated to the textfield but it will also make things easier and faster as so ma

[2021-03-11 19:20] HimeshNayak commented on #67
Use AuthInputField only. You can create a IconButton in AuthInputField similar to suffixIcon and add its working accordingly.

[2021-03-11 19:45] D-Ajay-Kumar commented on #67
Done as you wanted it to be. Please check the code :)

[2021-03-11 20:04] D-Ajay-Kumar commented on #68
In case the current assignee fails, I can do it.

[2021-03-11 21:36] SamarpanCoder2002 opened #71 "Facebook Authentication Through Firebase"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I would like to add Facebook Authentication Through Firebase Here

**Describe alternatives you've considered**
Google and email-password authentication already added but not facebook authentication..... I would like to add this.....

**Additional context**
I already make a Google Authenticat

[2021-03-11 21:41] SamarpanCoder2002 commented on #58
I already added that functionality and added pull request related to that here(https://github.com/avinashkranjan/Friday/pull/70#issue-591184091)...Please check it out and merge it....If there is any problem, You can freely tell me.....Thanks for give me that chance to add this functionality

[2021-03-12 08:08] rohats871 commented on #61
@avinashkranjan  assign me this let me try again on my end .

[2021-03-12 08:11] aashishah opened #72 "A static product info or launch website for the app"
**Is your feature request related to a problem? Please describe.**
I'd like to pitch the idea of a static website that showcases the app and all it's features, as well as other information, with an eventual download link.

**Describe the solution you'd like**
The website can be created using simple JS, HTML5 and CSS and hosted on Github.

**Describe alternatives you've considered**
We could first

[2021-03-12 08:37] HimeshNayak commented on #71
Facebook Auth can be implemented. I am assigning this issue to you.
Also have a look on the changes requested in google auth PR, code this similarly.

[2021-03-12 09:02] SamarpanCoder2002 commented on #71
Thanks for assigning me here... First I change in google Auth Pull Request and after merge of that I will start working on facebook auth.... Thanks for review my google auth Pull request.... I surely make changes soon....Thank you

[2021-03-12 09:24] D-Ajay-Kumar commented on #72
Sounds interesting :D

[2021-03-12 12:09] rohank2502 opened #73 "Update contributors list automatically"
I will like to add a feature this will update the contributors list automatically !! This will keep our read me section updated !!

[2021-03-12 12:16] SamarpanCoder2002 commented on #58
I already made changes according to your instruction @HimeshNayak .... Please check it out and merge it, if there no problem....else you can freely tell me

[2021-03-12 13:10] namancoder opened #74 "forgot pasword?"
The app doesn't support the forgot password feature.

[2021-03-12 13:10] namancoder commented on #74
Can i work on this issue?

[2021-03-12 13:32] seadhant commented on #68
is there any google-services json file I need to add, bcoz its showing gradle failure

[2021-03-12 14:16] HimeshNayak commented on #74
Yes sure, go ahead. I'll assign it to you.

[2021-03-12 14:22] namancoder commented on #74
On it.

[2021-03-12 15:36] ishanailwal opened #75 "Refactor onboarding_page.dart code"
The code in onboarding_page.dart can be refactored and made more concise. Can I work on this?

[2021-03-12 15:52] HimeshNayak commented on #75
sure, go ahead! @ishanailwal
I'll assign it to you.

[2021-03-12 16:06] HimeshNayak opened #76 "Wiki Page"
Create a Wiki Page for the project.

Anyone who wants to work on this issue under GSSOC21, comment here and I'll assign it to you.
You can refer : https://guides.github.com/features/wikis/ for getting more info on Wiki Pages.

[2021-03-12 16:08] #57 closed

[2021-03-12 16:09] #67 closed

[2021-03-12 16:12] #58 closed

[2021-03-12 16:31] SamarpanCoder2002 commented on #76
Hello @HimeshNayak , I want to work with it..... Can you give me a sample idea, how I can design Wiki page for that project...I already gathered knowledge on github wiki.... Thanks

[2021-03-12 16:48] avinashkranjan commented on #76
Hey @SamarpanCoder2002

Create a Wiki Page for this project describing:

- What this Project is?
- Purpose of this Project
- Issues it would solve
- Short and Precise description of all Features, this app currently has.

You can check the guide material:

- [Writing and Formatting on GitHub](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github)

[2021-03-12 16:53] HimeshNayak commented on #76
I have created the wiki page. Here is the link
https://github.com/avinashkranjan/Friday/wiki
@SamarpanCoder2002 you can add content to it as described by @avinashkranjan

[2021-03-12 16:55] SamarpanCoder2002 commented on #76
Thanks @HimeshNayak  @avinashkranjan for give me that sample.... I will start work on it soon

[2021-03-12 17:09] SamarpanCoder2002 opened #81 "Email and Password Authentication Added but not Registered Email Verification"
**Is your feature request related to a problem? Please describe.**
yes..... Email and Password Verification added already but not registered email verification...... Suppose someone signup as 'g@mail.com'... If there presents no such email, then a fake user can use this application..... So unethical activity can be performed through that..... So I want to add Email and password Verification...

**

[2021-03-12 17:10] avinashkranjan commented on #81
Go Ahead @SamarpanCoder2002

[2021-03-12 17:17] SamarpanCoder2002 commented on #81
Thanks for assigning me.... I will work on that very soon

[2021-03-13 07:22] SapinderSingh opened #83 "Google Sign In Not Working"
**Describe the bug**
When I clicked on Google Sign In button and chose the account, an Exception came.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app
2. Click on Google SignIn button.
3. Choose your account.
4. See the exception.

**Expected behavior**
It should SignIn and go the next screen.

**Screenshots**
![Screenshot 2021-03-13 125125](https://user-images.githubuserconten

[2021-03-13 07:41] HimeshNayak commented on #83
Hi @SapinderSingh. The firebase project should have the SHA-1 certificate registered for the google sign in to work on the emulator/device. The Google sign in is working fine and is reviewed by me and @avinashkranjan.

You can look here for more reference
https://stackoverflow.com/questions/39144629/how-to-add-sha-1-to-android-application

For now I am closing this issue. If the error still occurs

[2021-03-13 07:41] #83 closed

[2021-03-13 17:30] HimeshNayak opened #84 "Bottom Padding of the Logout Button"
The Logout button has very less bottom padding, and thus it is not visible to the user even after scrolling.

Increase the padding.

![Screenshot_20210313_225436](https://user-images.githubusercontent.com/30944790/111038520-82ff8a00-844f-11eb-91bf-a3d2ec18050c.png)

If anyone wants to work on this under GSSOC21, comment here, I'll assign you.

[2021-03-13 18:08] subhangi2731 commented on #15
Thanks @avinashkranjan I will make a pr by tomorrow

[2021-03-13 18:11] subhangi2731 commented on #15
I had a doubt actually. where can i talk to you?

[2021-03-13 18:12] D-Ajay-Kumar commented on #84
Can do it

[2021-03-13 18:13] HimeshNayak commented on #84
go head @D-Ajay-Kumar

[2021-03-13 18:16] D-Ajay-Kumar commented on #84
On it

[2021-03-13 19:40] SamarpanCoder2002 opened #87 "Heading not fitted on screen(in Bottom Navigation Screen ) when user name is too long"
**Is your feature request related to a problem? Please describe.**
Bottom_Navigation.dart file, heading not fitted on screen when user name is too long....

**Describe the solution you'd like**
I want to add flexibility in that heading... I attach a picture below about the problem....Please take a look here
<img src="https://user-images.githubusercontent.com/66327336/111042109-ad5a4300-8461-11eb-8

[2021-03-13 20:08] SamarpanCoder2002 opened #88 "landing page content override in physical device"
**Is your feature request related to a problem? Please describe.**
landing page content override in physical device

**Describe the solution you'd like**
In physical device, Landing page content override to each other.... I attach examples below...take a look here.....
<p>
<img src="https://user-images.githubusercontent.com/66327336/111042819-3b83f880-8465-11eb-91a7-51984e7fe4d2.png" alt="emulator

[2021-03-14 05:33] HimeshNayak commented on #87
Hi @SamarpanCoder2002. This is a valid issue and should be worked upon. But since you already have 3 pending PRs, please let this issue be solved by other participants.
If no other participant wants to work on this issue till the time you submit 1-2 PRs, I'll assign it to you.

Thus this issue is available for grab. If any GSSOC21 participant wants to work on it, please comment and I'll assign it

[2021-03-14 05:34] HimeshNayak commented on #88
Hi @SamarpanCoder2002. This is a valid issue and should be worked upon. But since you already have 3 pending PRs, please let this issue be solved by other participants.
If no other participant wants to work on this issue till the time you submit 1-2 PRs, I'll assign it to you.

Thus this issue is available for grab. If any GSSOC21 participant wants to work on it, please comment and I'll assign it

[2021-03-14 06:00] Aishani2001 commented on #88
Hello @HimeshNayak I would like to work on this issue. Please assign it to me.

[2021-03-14 06:01] Aishani2001 commented on #87
Hello @HimeshNayak please assign this issue to me sir.

[2021-03-14 06:02] HimeshNayak commented on #88
sure, go ahead @Aishani2001, I'll assign it to you.

[2021-03-14 06:03] HimeshNayak commented on #87
sure, go ahead @Aishani2001. I'll assign it to you.

[2021-03-14 07:21] Ruhika1417 commented on #87
hi could you assign this to me?

[2021-03-14 07:25] HimeshNayak commented on #87
Hi @Ruhika1417 The issue has already been assigned to @Aishani2001. If she fails to resolve the issue. I'll assign it to you.

[2021-03-14 07:28] Ruhika1417 commented on #87
OK @HimeshNayak

[2021-03-14 10:49] nicks101 commented on #4
hey @avinashkranjan , I've added dummy data on firestore, and classes displayed on the app are being fetched from there.
I was wondering if there is any UI mock for adding a class, I'll implement that as well.
Or should I open a pull request with current changes only?

[2021-03-14 12:42] avinashkranjan commented on #15
You can text me on Discord

[2021-03-14 13:12] avinashkranjan commented on #4
Hey @nicks101 Will send you the UI in few hours...You can implement it then..

[2021-03-14 14:05] abhinav5481 commented on #15
Hi
I would like to work on this issue. Could you please assign it to me?

[2021-03-14 21:10] #71 closed

[2021-03-14 21:13] #75 closed

[2021-03-14 21:15] #74 closed

[2021-03-14 21:17] avinashkranjan commented on #73
We are use all-contributors bot for that

[2021-03-14 21:17] #73 closed

[2021-03-14 21:17] avinashkranjan commented on #64
Sure Go Ahead @believeInJha

[2021-03-14 21:18] avinashkranjan commented on #72
Sounds Like a Great Idea.. Looking for people to work on it

[2021-03-14 21:19] #72 closed

[2021-03-15 06:19] believeInJha commented on #64
Thanks for the opportunity @avinashkranjan , I will make it as soon as possible and send a PR.

[2021-03-15 09:18] nicks101 commented on #4
Updates on the issue :

- Dummy data added on firestore  : `colleges -> USICT-BTECH-CSE-3 -> classes`
- Fetching and displaying firestore data (classes) in the app.

Let me know the next steps, please.

[2021-03-15 11:20] SamarpanCoder2002 commented on #81
I already made a pull request regarding to that @HimeshNayak @avinashkranjan .... please review it and merge it.....

[2021-03-15 11:30] SamarpanCoder2002 opened #93 "Current Academic Year Keyboard type restriction not added"
**Is your feature request related to a problem? Please describe.**
Look at the picture
<img src="https://user-images.githubusercontent.com/66327336/111146533-8f025d80-85af-11eb-8547-cd51eb9dc352.png" width="200">

Current academic year should be number..... but keyboard came as text but not as only number keyboard

**Describe the solution you'd like**
For only that case, I would like to introduce

[2021-03-15 11:46] hs2361 commented on #93
@HimeshNayak @avinashkranjan I'm a GSSoC'21 participant. Can you please assign me to this issue?

[2021-03-15 11:56] D-Ajay-Kumar commented on #93
@HimeshNayak  @SamarpanCoder2002 also just a small correction, it'd be better to change the word from 'Course' to 'Degree'. Course is a lil confusing.

[2021-03-15 12:03] SamarpanCoder2002 commented on #93
Better option.... Waiting for the response @HimeshNayak

[2021-03-15 14:58] namancoder commented on #93
But anything other than number is not accpeted i think ,so their is no need because switching keyboard from full to only numeric is also not very intuitive.
it maintains the flow of filling the form.

[2021-03-15 15:04] kanishkaa24 commented on #56
Hello! Can I work on this?

[2021-03-15 15:04] kanishkaa24 commented on #15
Hello! Can I work on this?

[2021-03-15 16:00] HimeshNayak commented on #93
Great issue @SamarpanCoder2002, go ahead and fix it, I'll assign it to you!

[2021-03-15 16:03] HimeshNayak commented on #93
Also degree and course depend on the institute. Leave it as it is for now. We are planning to change this page a little and this can be done there.

[2021-03-15 16:24] SamarpanCoder2002 commented on #93
ok...I will change only keyboard issue

[2021-03-15 16:57] #84 closed

[2021-03-15 17:13] HimeshNayak opened #94 "Design and implement a page to register college"
**Is your feature request related to a problem? Please describe.**
Yes, multiple users enter different strings for college details, which creates an ambiguity in the database. Design a page to register college so that it can be added in classes collection.

**Describe the solution you'd like**
The page should check if any class is already present with the same configuration or not and then create

[2021-03-15 17:17] HimeshNayak opened #95 "Replace TextField with dropdown in signup for college details"
**Is your feature request related to a problem? Please describe.**
To reduce the ambiguity of college entries in the database. Only registered colleges should appear for the user to select when signing up in the app.

**Describe the solution you'd like**
Replace TextField with dropdown in signup for college details so that the user can select the details from there.
The registered colleges will ha

[2021-03-15 17:18] D-Ajay-Kumar commented on #94
I guess I'll need a lil more info. Super interested in working in it.

[2021-03-15 17:21] D-Ajay-Kumar commented on #95
The data for the drop-down should be fetched from Firebase?

[2021-03-15 17:22] D-Ajay-Kumar commented on #94
So if the user fails to find his college in the drop-down then he goes to this screen to manually enter his college. Is that what it is?

[2021-03-15 17:23] HimeshNayak commented on #95
Yes, you can use a StreamBuilder or FutureBuilder

[2021-03-15 17:24] D-Ajay-Kumar commented on #95
I can try my hand at this, can I please?

[2021-03-15 17:24] HimeshNayak commented on #94
Yes, if the user fails to find his college in the drop-down, then he would go to this page and register the college so that it can be found in the dropdown.

[2021-03-15 17:25] D-Ajay-Kumar commented on #94
Btw this issue is still open, I wanted more clarity on another issue related to this so commented.

[2021-03-15 17:27] HimeshNayak commented on #95
Yes sure, go ahead @D-Ajay-Kumar ! I'll assign this to you.

[2021-03-15 17:29] SamarpanCoder2002 commented on #94
I want to work here,.....assign me

[2021-03-15 17:30] HimeshNayak commented on #94
Go ahead @SamarpanCoder2002 ! I'll assign it to you.

[2021-03-15 17:30] SamarpanCoder2002 commented on #94
Thanks @HimeshNayak

[2021-03-15 17:31] SamarpanCoder2002 commented on #94
I want to discuss something about that issue.....can I continue that on discord???

[2021-03-15 17:37] HimeshNayak commented on #94
yes sure @SamarpanCoder2002

[2021-03-15 17:44] #81 closed

[2021-03-15 18:59] SamarpanCoder2002 commented on #93
I already make a pull request regarding to that....pls check it out @HimeshNayak @avinashkranjan

[2021-03-16 09:01] D-Ajay-Kumar commented on #95
Where can i find the google services file?

[2021-03-16 09:03] HimeshNayak commented on #95
Its already in the repo. https://github.com/avinashkranjan/Friday/blob/master/android/app/google-services.json

[2021-03-16 09:03] D-Ajay-Kumar commented on #95
yup found it

[2021-03-16 09:32] D-Ajay-Kumar commented on #95
The stream/future builder will wrap the whole form and till the data loads I should a circular progress indicator right?

[2021-03-16 09:35] HimeshNayak commented on #95
Yes.

[2021-03-16 09:36] D-Ajay-Kumar commented on #95
Okay thank you very much.

[2021-03-16 10:36] HimeshNayak commented on #4
I have seen that you have added the classes in the firestore. Please write a function to read the data from firestore and display it for the required college. You can view the similar function for homework for reference.
@nicks101

[2021-03-16 10:42] nicks101 commented on #4
Hey @HimeshNayak, this part is done.
I'm fetching classes data from firestore and displaying them.
I can't fetch for a particular college yet as we have reference ID for a collage right now. It's all dummy data.
Should I open a PR so you can see the changes?

[2021-03-16 10:47] nicks101 commented on #4
Now plan to is add a screen where user can add his/her classes. Waiting for its UI.

[2021-03-16 14:08] D-Ajay-Kumar commented on #95
![WhatsApp Image 2021-03-16 at 7 24 19 PM](https://user-images.githubusercontent.com/56850266/111322520-08bd4880-868f-11eb-9dfb-57d43ae8b4d7.jpeg)
![WhatsApp Image 2021-03-16 at 7 36 17 PM](https://user-images.githubusercontent.com/56850266/111322538-0ce96600-868f-11eb-8db0-9bbb02e61884.jpeg)
![WhatsApp Image 2021-03-16 at 7 36 17 PM (1)](https://user-images.githubusercontent.com/56850266/11132255

[2021-03-16 15:19] D-Ajay-Kumar commented on #95
Done. Please check the code :)

[2021-03-16 17:52] rohats871 commented on #61
@avinashkranjan i might require the ios version of the GoogleServices file

[2021-03-16 18:10] HimeshNayak commented on #4
yes, please open a PR. The changes then can be added in the same.

[2021-03-16 18:56] SamarpanCoder2002 commented on #95
Good work bro

[2021-03-16 19:02] ishanailwal opened #98 "Content is overlapping"
![Screenshot_1615918407](https://user-images.githubusercontent.com/56601364/111365178-2d79e600-86b8-11eb-885e-0d2f25ae6c13.png)

"Sign Up" button is covering text. Can I work on rectifying this?

[2021-03-16 19:07] SamarpanCoder2002 commented on #98
This issue already raised in #88 and assigned to otherone...... Please close it....

[2021-03-16 19:15] D-Ajay-Kumar commented on #95
Thanks man!

[2021-03-16 21:31] #93 closed

[2021-03-17 06:43] SamarpanCoder2002 opened #101 "Without verified log-in User can navigate to the onboarding page"
**Is your feature request related to a problem? Please describe.**
Yes, If any user completes the signup and signup additional details page and instead of log-in if the user closes the app and then reopens the app, the log-in page not come....directly navigate to the bottom navigation page ..... So, if any user gives an invalid email or not verify their email, they can also navigate to the onboard

[2021-03-17 06:47] D-Ajay-Kumar commented on #101
Nice catch man, the problem really does exist.

[2021-03-17 06:55] SamarpanCoder2002 commented on #101
Yaah.... prb catchup at the time of debugging

[2021-03-17 13:42] SamarpanCoder2002 commented on #94
Can I continue fetch college name api use through that issue @HimeshNayak

[2021-03-17 13:42] HimeshNayak commented on #88
Any updates @Aishani2001 ?

[2021-03-17 13:46] HimeshNayak commented on #98
Repeated Issue

[2021-03-17 13:46] #98 closed

[2021-03-17 13:49] HimeshNayak commented on #94
Yes, go ahead.

[2021-03-17 14:04] HimeshNayak commented on #101
go ahead @SamarpanCoder2002 ! I'll assign this issue to you.

[2021-03-17 17:03] SamarpanCoder2002 commented on #101
Thank u @HimeshNayak

[2021-03-17 19:24] Adityakarthik18 opened #103 "Adding google meet and zoom links to join any class immediatly"
]

[2021-03-18 07:16] devTejas opened #104 "Errors in Documentation - Improve the README by adding some new sections and removing errors"
**Describe the bug**
Hello team, I have found some errors in the documentation and would like to improve them. I even feel the need of adding some new sections to the _Readme_ file such that it helps new developers in understanding more about the app technically.

**Screenshots**
I have used _Grammarly_ to find errors in the existing _readme_. Please check the below screenshots for better understa

[2021-03-18 15:23] Aishani2001 commented on #88
Sir i’m working on it.

On Wed, 17 Mar 2021 at 7:12 PM, Himesh Nayak ***@***.***>
wrote:

[2021-03-18 16:40] SamarpanCoder2002 commented on #101
I already added pull request #105 related to that issue... please review it @HimeshNayak and merge it @avinashkranjan

[2021-03-18 20:19] avinashkranjan commented on #103
No Description ?? @Adityakarthik18

[2021-03-19 05:59] GayatriMunde opened #106 "Adding edit profile feature"
The academic year and age are not not the constant things, they changes over a period of time.

To resolve this, one feature of editing profile can be added to the profile section of user.

[2021-03-19 17:22] abhishree07 commented on #56
Hello, I would love to contribute to this issue. Kindly assign it to me

[2021-03-19 17:26] HimeshNayak commented on #106
Hey @GayatriMunde! This a much needed feature. If you want to work on this issue under GSSOC21, please comment and I'll assign it to you.

[2021-03-19 18:04] HimeshNayak commented on #87
@Aishani2001 Any updates?

[2021-03-19 18:08] HimeshNayak commented on #68
@D-Ajay-Kumar If you want to work on this issue, kindly comment. Else it would be assigned to someone else who wants to work on this.

[2021-03-19 18:09] D-Ajay-Kumar commented on #68
Yeah sure I'll do it

[2021-03-19 18:13] HimeshNayak commented on #68
Okay, I'll assign it to you.

[2021-03-19 21:00] D-Ajay-Kumar commented on #68
The image picker is added, images are getting picked, images are being stored in firebase storage, the image is being uploaded on the app after picking on both home and profile screen but when I try to upload this updated User model on firestore to update the profilePictureUrl there using the already created addUserToDatabase method it sends a verification email coz the method has been coded that

[2021-03-20 06:32] GayatriMunde commented on #106
Yes. I would like to work on this.

[2021-03-20 06:35] rajeshpanjiyar commented on #56
I want to work on this. I am a participant in GSSoC'21.
*I think this issue should have open for all tags and the best logo should be merged. Is this so?*

[2021-03-20 07:39] subhangi2731 commented on #15
hello @avinashkranjan in this flipping cards animation  in css has to be added right?

[2021-03-20 07:43] subhangi2731 commented on #9
@avinashkranjan I am working on this but can you please tell me how should I connect to the arbor URL address and send the connection request??

[2021-03-20 08:19] HimeshNayak commented on #106
Okay, go ahead. I'll assign it to you.

[2021-03-20 08:21] HimeshNayak commented on #68
You can code a method specifically for updating the profile picture. And choose the picture from gallery for now.

[2021-03-20 11:29] aditi1403 opened #109 "Update README.md file"
I have made minor grammatical edits to the README.md file. Kindly refer to PR #107.

[2021-03-20 15:32] tarunsinghofficial commented on #109
Hey @aditi1403 can I fix this?

[2021-03-20 18:44] Ruhika1417 commented on #87
Hi @HimeshNayak let me know if I could take this up or not...

[2021-03-21 05:56] HimeshNayak commented on #87
Since @Aishani2001 has not responded, I am assigning this issue to @Ruhika1417 .

[2021-03-21 07:22] LayaMitta commented on #103
I am a GSSOC'21 participant, can I work on this issue?

[2021-03-21 07:23] LayaMitta commented on #104
I am a GSSOC'21 participant, can I work on this issue?

[2021-03-21 08:21] SamarpanCoder2002 commented on #76
Hello @avinashkranjan @HimeshNayak , I already made Wiki pages for this project.... But I don't understand how to make a pull request about this wiki pages..... Should I put the `md` file as one of project file and then make pull request or not???? Please let me know.... Here's my wiki pages: https://github.com/SamarpanCoder2002/Friday.wiki.git

Thanks  u @HimeshNayak @avinashkranjan

[2021-03-21 12:27] rajeshpanjiyar commented on #56
Hi, Can I work on this? I am a **GSSoC'21** participant. Can I be assigned?

[2021-03-21 13:52] abstrxtInfinity opened #111 "Search bar focused border not set"
Search bar enabled border not set, as shown in below image.
@avinashkranjan  I would like to fix it please assign this to me.
GSSOC'21 participant.
![bug](https://user-images.githubusercontent.com/55052738/111907291-abecd400-8a7a-11eb-8be3-ce86807d76e2.jpeg)

[2021-03-21 17:19] HimeshNayak commented on #76
Yes, add it in a md file and submit the PR mentioning this issue.

[2021-03-21 17:19] SamarpanCoder2002 commented on #76
sure

[2021-03-21 17:26] HimeshNayak opened #112 "Dropdown for Course, Stream in SignUp"
Its an extension of Issue #97
Adding dropdowns for course and stream which are present in a particular college document.
If the data is not there, then provide the user with an option to enter the details and add it to the database.
Please add required checks for the data that is fetched and added to the database.

Please comment here, if you want to work on it under GSSOC21.

[2021-03-21 17:30] SamarpanCoder2002 commented on #112
Yah I want to work here @HimeshNayak ....

[2021-03-21 17:33] HimeshNayak commented on #112
Yeah, We'll merge that. I'll assign this issue to you.

[2021-03-21 18:13] rakshitkamboj opened #113 "Editable Profile Image Feature"
I would like to make avatar of user in profile_screen editable. By this user can pick any image of there choice from gallery or use camera for that.

**Approach**
On clicking the camera icon in profile_screen a bottomsheet will appear having option for camera as well as Gallery and user can choose any image of their choice.

[2021-03-21 19:20] avinashkranjan commented on #103
Hey @Adityakarthik18 Would you like to work on it..Or should I assign this to someone else??

[2021-03-21 19:21] avinashkranjan commented on #104
Go Ahead @devTejas

[2021-03-21 19:23] #109 closed

[2021-03-21 19:23] avinashkranjan commented on #111
Go Ahead @abstrxtInfinity

[2021-03-21 19:43] Adityakarthik18 commented on #103
Sir i want to do it sir but i can't find the website of this project to do
it sir!
html css files are not there in that are.
Thanking you sir!

On Mon, 22 Mar, 2021, 12:50 am Avinash Kr. Ranjan, ***@***.***>
wrote:

[2021-03-21 22:16] avinashkranjan commented on #103
Hey @Adityakarthik18 It's and Android/iOS app not a Web App

[2021-03-21 22:17] #101 closed

[2021-03-21 22:17] #4 closed

[2021-03-22 02:07] #113 closed

[2021-03-22 03:55] abstrxtInfinity opened #115 "Change profile photo feature"
I would like to add the feature of giving the user the ability to change his profile picture from the user profile page.
GSSOC'21 Participant

[2021-03-22 03:56] #115 closed

[2021-03-22 04:04] Adityakarthik18 commented on #103
no sir i am not working i thought it is web app

On Mon, Mar 22, 2021 at 3:46 AM Avinash Kr. Ranjan ***@***.***>
wrote:

[2021-03-22 04:16] nicks101 commented on #103
Can I work on this issue?

[2021-03-22 04:32] Adityakarthik18 commented on #103
Ya i have told them that i am not interested then will assign to some one
ask them

On Mon, 22 Mar, 2021, 9:46 am Nikki Goel, ***@***.***> wrote:

[2021-03-22 05:18] avinashkranjan commented on #103
Sure Go Ahead @nicks101

[2021-03-22 10:22] nicks101 commented on #103
I've added a property `joinLink` in the `classes` model.
For the UI, in the classes screen, there's the text for `join now`. Clicking on this will open the URL of the class if it exists.

Let me know if there are any changes for logic or UI.

![Screenshot_1616408211](https://user-images.githubusercontent.com/32807816/111975358-85847280-8b26-11eb-8eb9-2bd784d47660.png)

[2021-03-24 19:04] rohats871 commented on #61
can i have it here please?

[2021-03-25 05:32] HimeshNayak commented on #94
Issue extended to #112

[2021-03-25 05:32] #94 closed

[2021-03-25 05:38] HimeshNayak commented on #106
Any updates? @GayatriMunde

[2021-03-25 07:00] HimeshNayak opened #118 "Data is not fetched at first login"
**Describe the bug**
When the user logins for the first time in the app, the user data is not properly fetched and the default text is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear data of the app.
2. Run the app on the emulator
3. Login with email and password
4. See Error: On Home Page It shows 'Hello Sir' rather than the name of the user and on profile page it shows loa

[2021-03-25 07:03] D-Ajay-Kumar commented on #118
Any idea so far why it's happening?

[2021-03-25 08:16] avinashkranjan commented on #61
@rohats871 That file is not supported here..

[2021-03-25 08:19] SamarpanCoder2002 commented on #118
That happens some time due to lagging... I faced this problem in profile picture integration in other project.... When log-in at first, due to lagging, can't fetch data from firebase...but after reopen the app, it refresh and data come in picture

[2021-03-25 08:40] #95 closed

[2021-03-25 08:41] #111 closed

[2021-03-25 08:43] #76 closed

[2021-03-25 08:45] #87 closed

[2021-03-25 09:28] D-Ajay-Kumar commented on #118
Aight lemme check the code for fetching data from firestore after logging in.

[2021-03-25 09:29] #68 closed

[2021-03-25 09:31] SamarpanCoder2002 commented on #118
yah sure

[2021-03-25 10:24] D-Ajay-Kumar commented on #118
@SamarpanCoder2002 bro can you update your local repo and run the app once? There seems to be some issues with the package versions not being compatible with each other. Especially the firebase ones. Can you please confirm whether it is global or just with me?

[2021-03-25 10:28] D-Ajay-Kumar commented on #118
These are the ones that I am using currently that seem to work fine with each other. The ones in the master branch seem incompatible. @HimeshNayak could you also check please?

![vers](https://user-images.githubusercontent.com/56850266/112458368-b82aa700-8d82-11eb-8c94-ed4f841e4059.PNG)

[2021-03-25 10:40] D-Ajay-Kumar commented on #118
The data is being fetched on the first login, this issue has been solved but the firebase storage package version isn't compatible with some other packages. After updating the package versions to the ones in the picture of the comment before this one I had to do some changes in code related to firebase storage. Is it alright if all that code is also included in this issue's solution?

[2021-03-25 11:03] D-Ajay-Kumar commented on #118
The issue of data not being fetched has been solved but since older version of firebase storage was being used earlier, I had to refactor the code related to storage as well after updating the package versions. Is it alright if I commit those changes as well? Not a lot of changes, just a few lines of code had to be refactored.

[2021-03-25 11:12] SamarpanCoder2002 commented on #118
Please go ahead bro @D-Ajay-Kumar .... @HimeshNayak please assign him to that issue

[2021-03-26 03:07] Ruhika1417 commented on #88
Hi @HimeshNayak, I would like to fix this issue. could you please follow up  w other participants if they're working or not on this...

[2021-03-26 03:12] Ruhika1417 commented on #88
Hi @HimeshNayak , I would like to work on this. could you please follow up w other participants if they're working on this or not...

[2021-03-26 05:31] shreya-gb commented on #56
Hello, I am really eager to work on this logo and solving the issues. But, I am not able to understand how to. Kindly guide.

[2021-03-26 11:35] Abhinav-B-19 commented on #104
I am a GSSOC'21 participant, can I improve the REAADME file.

[2021-03-26 14:53] muthuannamalai12 opened #120 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 17:15] HimeshNayak commented on #88
It has been too long! I am assigning this issue to you @Ruhika1417.

[2021-03-26 17:24] HimeshNayak commented on #118
Assigning issue to @D-Ajay-Kumar

[2021-03-26 17:31] HimeshNayak commented on #112
@SamarpanCoder2002 you can start working on this issue now.

[2021-03-26 17:45] SamarpanCoder2002 commented on #112
Yah sure...I will start working on it from tomorrow

[2021-03-27 05:21] shreya-gb commented on #15
Hello, @avinashkranjan I can add the appropriate animation so may I be assigned to the same?

[2021-03-27 16:45] avinashkranjan commented on #120
Go Ahead @muthuannamalai12

[2021-03-28 12:19] pragati-kumar commented on #120
Hello @avinashkranjan. I'm a GSSOC'21 participant and I would really like to contribute to this issue.

[2021-03-28 17:20] #103 closed

[2021-03-29 10:11] HimeshNayak commented on #64
Any updates? @believeInJha

[2021-03-29 11:24] pawan2806 opened #124 "Migrate the app to Null Safety"
**Is your feature request related to a problem? Please describe.**
With null safety, you can reason about your code with more confidence. No more pesky runtime null dereferencing errors in deployed apps. Instead, you get static errors as you code. ~ dart officials

**Describe the solution you'd like**
[https://dart.dev/null-safety/migration-guide](url)

**Describe alternatives you've considered**

[2021-03-29 15:12] vaibhavihaveri commented on #120
Hello l am GSSOC 21  participant I like to work on this issue can u assign me.

[2021-03-29 16:42] SamarpanCoder2002 commented on #112
@HimeshNayak @avinashkranjan .... I already made a pull request regarding to that issue.... Please review it and merge it.... If any prb, You can freely tell me ... Thanks @HimeshNayak @avinashkranjan

[2021-03-30 03:13] HimeshNayak opened #126 "Add Constraint to Age Field in Signup"
**Describe the bug**
The Age Field in the signup form has a alphanumeric keyboard which needs to changed to a number keyboard so that the value is not null in the database. Also proper constraints are to be added and the validator message is to be changed

**Additional context**
Anyone willing to work on this issue under GSSOC21, then please comment here and I will assign you this issue.

[2021-03-30 03:30] HimeshNayak commented on #124
Go Ahead @pawan2806. I'll assign this issue to you.

[2021-03-30 04:52] SamarpanCoder2002 commented on #126
Can I work on it @HimeshNayak ...... I am also a GSSOC'21 particiapnt.... If I can forward with that....please assign me to here...Thanks @HimeshNayak @avinashkranjan

[2021-03-30 11:19] rakshitkamboj commented on #106
@HimeshNayak Can I Work on this issue if no one is working on this issue.

[2021-03-30 16:42] HimeshNayak commented on #126
Sure, go ahead @SamarpanCoder2002 I'll assign it to you.

[2021-03-30 16:45] HimeshNayak commented on #106
@GayatriMunde has been given a deadline till tomorrow. If @GayatriMunde is unable to submit a PR, it would be assigned to @rakshitkamboj

[2021-03-30 17:04] SamarpanCoder2002 commented on #126
Thanks for assign @HimeshNayak ...I will made a pull request soon after my current pull request get merged(#125 ) ...... Hope you merge it soon @avinashkranjan

[2021-03-30 17:51] #118 closed

[2021-03-30 19:08] SamarpanCoder2002 commented on #126
Pull request added....hope you review it and merge it soon @HimeshNayak @avinashkranjan

[2021-03-30 19:27] SamarpanCoder2002 opened #128 "After first Google/FB Sign-in, user navigate to the `log-in` page instead of `bottom_navigation` page"
**Is your feature request related to a problem? Please describe.**
If user First Time Sign-in with Google or Facebook, then user navigate to the `sign-up-additional page`...it's ok....But then they navigate to the log-in page.... That's not right I think.... In that two kinds of sign-in, after sign-up-additional details(at the time of first sign-in), user have to directly navigate to the `bottom_n

[2021-03-31 20:04] avinashkranjan commented on #128
Assigned to you @SamarpanCoder2002

[2021-03-31 20:08] #126 closed

[2021-03-31 20:12] #120 closed

[2021-04-01 08:54] rakshitkamboj commented on #106
@HimeshNayak Can u please assign this issue to me. As deadline was till yesterday for submitting the PR.
I will start working on this as soon as you assign it to me.
Thanks.

[2021-04-01 08:55] HimeshNayak commented on #106
Go ahead @rakshitkamboj! All the best! Happy Coding!

[2021-04-01 09:01] rakshitkamboj commented on #106
@HimeshNayak Can you please give me some idea about editable profile like should I create a button after clicking on that a screen or buttomsheet will appear in which user can edit our age and academic year
OR
should I provide separate button for age and year.
What do you think about this?

[2021-04-01 10:19] SamarpanCoder2002 opened #129 "Add notification to attain online class"
**Is your feature request related to a problem? Please describe.**
Want to add notification in this app...This will be cloud messaging....Before 15 min of starting online class, a notification will send to the user as alert of starting online class soon....

**Describe the solution you'd like**
User Set a time to attain online class....This app notify user before 15 minute, about the online class.

[2021-04-01 11:08] HimeshNayak commented on #106
I think an edit button should be there which will open will make the fields editable (i.e, widgets will be replaced by editable widgets) and then you can submit the data to the DB.
Sounds good? If you have any other ideas do share.

[2021-04-01 11:23] HimeshNayak commented on #129
A very good enhancement @SamarpanCoder2002. Go ahead, I'll assign this to you.

[2021-04-01 12:06] SamarpanCoder2002 commented on #129
Thanks for assign me...I will made a pull request soon

[2021-04-02 02:55] rakshitkamboj commented on #106
@HimeshNayak Yeah sounds good!
So, I have to apply this for every Text field (like -name, college ) Or just age and academic year?

[2021-04-02 05:35] HimeshNayak commented on #106
Make all the fields editable except college details (as that is complex and would be taken up in a different issue), as when the user is entering the details in the signup page, he might make a spelling mistake and wishes to correct it later (in the case of name).

[2021-04-02 06:58] rakshitkamboj commented on #106
Okay I got it.
I will try to apply changes as soon as possible and I will send you a demo video of same.
Thanks @HimeshNayak .

[2021-04-03 19:10] Udit-singh commented on #88
@HimeshNayak Since its been no response from assignee, I would like to work upon this issue under gssoc'21,
And I will be opening a PR within 24 hours.

[2021-04-04 03:24] Ruhika1417 commented on #88
@HimeshNayak I'm working on this...

[2021-04-05 17:37] rakshitkamboj commented on #106
@HimeshNayak I am trying to update users data in profile section but as soon as I re-run the app from studio its changes back to same . I think I am not able update it in database properly .
Can you help me in that?

[2021-04-05 17:46] rakshitkamboj commented on #106
https://user-images.githubusercontent.com/69065683/113605881-e3f03b80-9664-11eb-9635-3c18d7d27a8c.mp4

[2021-04-05 17:56] HimeshNayak commented on #106
Hey @rakshitkamboj, I am here to help. Just make a PR so that I can review the code and figure out the problem.

[2021-04-05 18:00] rakshitkamboj commented on #106
@HimeshNayak Appreciable.
Sure I will make one.

[2021-04-05 18:05] Inventor77 commented on #88
@HimeshNayak Please Mentor let me Work on this issue I'm having some sort of Idea why this is happening I will solve it within few hours

[2021-04-06 04:18] Udit-singh commented on #88
I have Requested before, I also know the reason of the issue , I can also solve it within few hours.
@HimeshNayak Please assign it to me.

[2021-04-06 12:31] anirudhsai20 opened #131 "List of Open Source programs in the Readme file"
The Readme file can be enhanced by adding a list of all the Open Source programs in whcih this project has been listed in. Alos there are a lot of grammatical errors in the Readme file that needs correction.

[2021-04-06 12:31] anirudhsai20 commented on #131
Hi! Please assign this issue to me under GSSOC.

[2021-04-06 13:55] mrmayurgithub opened #132 "ERROR: Alerts Page (A RenderFlex Error)"
The content in the Alerts Page can't fit into a single page, so Renderflow error is being shown.

Steps to reproduce the behavior:
1. Go to 'Alerts Page'
2. See error

**Screenshots**
![delete](https://user-images.githubusercontent.com/58694295/113721569-456be500-970d-11eb-9f97-60e23a2ff91d.jpg)

If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2021-04-06 17:38] SamarpanCoder2002 commented on #128
@HimeshNayak @avinashkranjan .... I already make a pull request related to that...please take a look...Thank u....Hope you review it and merge it soon @avinashkranjan @HimeshNayak

[2021-04-06 19:46] SamarpanCoder2002 opened #134 "FireStore can affected by Scammers"
**Is your feature request related to a problem? Please describe.**
In this app, If anybody signup(With Email and Password), details directly added to the firestore.... Now anybody can signup with some invalid email with that signup for scamming and pressure on firestore unnecessarily increases.

**Describe the solution you'd like**
For Signup(Email and Password Auth), after signup, user directly n

[2021-04-07 06:10] avinashkranjan commented on #134
Go Ahead @SamarpanCoder2002

[2021-04-07 16:07] HimeshNayak commented on #88
Go ahead! @Udit-singh

[2021-04-07 16:43] HimeshNayak commented on #124
Any updates? @pawan2806

[2021-04-07 17:56] mrmayurgithub opened #136 "Add search feature on homescreen"
Currently, there only a textfield in the home screen for searching the content, but it's not working.
**I would like to work on this issue as a GSSOC Participant**.

[2021-04-07 18:12] SamarpanCoder2002 commented on #128
@avinashkranjan .... pull request reviewed successfully..Hope you merge it soon @avinashkranjan

[2021-04-08 01:34] anotherwebguy commented on #106
Hey i can work on this issue @HimeshNayak
I've already made an layout for profile screen if u would like i can work on it under gssoc
Plz assign me this issue
![Screenshot_2021-04-08-07-03-50-767_com iqonic prokitflutter](https://user-images.githubusercontent.com/66346161/113955037-9fb59480-9838-11eb-8ab9-fa23f3a8f105.jpg)
![Screenshot_2021-04-08-07-03-34-773_com iqonic prokitflutter](https://user

[2021-04-08 12:16] HimeshNayak commented on #132
@mrmayurgithub go ahead. I'll assign this issue to you.

[2021-04-08 12:23] HimeshNayak commented on #106
@

These are great @anotherwebguy. I would suggest that let @rakshitkamboj work on the implementation part and then you can work on the UI in another issue.

[2021-04-08 12:27] anotherwebguy commented on #106
yeah that's fine @HimeshNayak  so should i make a pr for this ui and then after that @rakshitkamboj can do the implementation of pushing the changes in profile to firebase and also the retreiving part from firebase ?

[2021-04-08 12:30] HimeshNayak commented on #106
Let him complete the backend work first and then the UI can be changed, also let @avinashkranjan and @hareshnayak approve the UI first.

[2021-04-08 12:45] anotherwebguy commented on #106
ok got it :)

[2021-04-08 13:04] hareshnayak commented on #106
@anotherwebguy great work ! But as the app's current theme is dark, we can agree on the fact that it might not go with the app. I think for now we can have the same existing UI of the page.

[2021-04-08 13:07] HimeshNayak opened #137 "Wrong bottom navigation on login"
**Describe the bug**
When the user is logged in after he/she had logged out from the profile page. The profile navigation button is active rather than home.

**To Reproduce**
Steps to reproduce the behavior:
1. Log out using log out button on profile page
2. Log in again
4. See error

**Expected behavior**
The home navigation button should be active rather than profile

**Screenshots**
![image](ht

[2021-04-08 13:18] anotherwebguy commented on #106
okay i understand but if u want we can also do this ui in dark theme @hareshnayak

[2021-04-08 13:23] Udit-singh commented on #137
@HimeshNayak I would like to work upon it.

[2021-04-08 13:27] hareshnayak commented on #106
Even though your design is great, no doubt there, I think we should stick with the existing one for now
Thanks for understanding @anotherwebguy

[2021-04-08 13:32] anotherwebguy commented on #106
okay

[2021-04-08 14:52] HimeshNayak commented on #137
Sure @Udit-singh, Go ahead!

[2021-04-08 15:46] #88 closed

[2021-04-08 15:49] #128 closed

[2021-04-08 17:16] mrmayurgithub commented on #132
@HimeshNayak I've created a pull request.

[2021-04-08 17:22] mrmayurgithub opened #139 "ERROR: Homework Page (A RenderFlex Error)"
The content in the Recent HomeWork Page can't fit into a single page, so Renderflow error is being shown.

Steps to reproduce the behavior:
1. Go to 'Recent Homework'
2. See error
![deletetoo](https://user-images.githubusercontent.com/58694295/114069582-c5847d00-98bc-11eb-995c-ac3ff18d4549.jpeg)

**Desktop (please complete the following information):**
 - OS: Linux Mint 20

**Smartphone (please co

[2021-04-09 07:44] oshi36 opened #141 "Adding Light theme in the app"
Currently, the app is in a dark theme. Add few more themes for users. Some of my suggestions are light , velvet .

[2021-04-09 07:46] oshi36 opened #142 "Add Google Calendar"
Currently , app is using customizable calendar so instead of it use google calendar to enhance the functionality.

[2021-04-09 09:50] nicks101 commented on #142
Hey, can I work on it?

Also, can you tell a bit more about the issue?
It is integrating google calendar instead of the current one. Or make an option to add a reminder/event in google calendar by an api.

[2021-04-09 10:07] oshi36 commented on #142
Hi @nicks101 , It is about integrating the google calendar in the app as we have customize one.

[2021-04-09 10:11] nicks101 commented on #142
Okay I'll research on it and implement it.

[2021-04-09 10:23] oshi36 commented on #139
Go ahead with this issue @mrmayurgithub

[2021-04-09 18:26] mrmayurgithub commented on #139
@oshi36 I've created a PR for this issue.

[2021-04-10 15:27] #134 closed

[2021-04-10 15:27] #139 closed

[2021-04-10 15:28] #137 closed

[2021-04-12 07:00] SamarpanCoder2002 commented on #129
Hello @HimeshNayak @avinashkranjan .... I face a problem working with that issue. Till now there is no option to add class schedules manually by the user..... So, If the user even not set the test manually, then it's not possible to forward with that issue as `add notification` because, after adding the notification, I can take out the class joining Time and even then can add notification Schedule

[2021-04-12 07:04] SamarpanCoder2002 opened #145 "Add Class Schedule Manually by the User"
**Is your feature request related to a problem? Please describe.**
Users Can Manually add Class Schedules to complete their task.... This is the extended version of #129 .....

**Describe the solution you'd like**
A segment of the app involves where the user can add a class schedule manually and that store in firestore with corresponding user data.....

**Describe alternatives you've considered**

[2021-04-12 07:16] SamarpanCoder2002 opened #146 "Classes Section CollegeID called on null error"
**Is your feature request related to a problem? Please describe.**
Yes, In classes section, `collegeID called on null` Error Came.....

<img src="https://user-images.githubusercontent.com/66327336/114354824-63fa3200-9b8c-11eb-835e-728e0e7d7930.png" width="200">

**Describe the solution you'd like**
This is because `user` getter introduced with a null variable `_user`

<img src="https://user-images

[2021-04-12 07:33] #146 closed

[2021-04-12 15:55] HimeshNayak commented on #145
go ahead @SamarpanCoder2002, I'll assign this issue to you.

[2021-04-12 16:27] SamarpanCoder2002 commented on #145
Thanks a lot

[2021-04-13 14:21] deeptea22 opened #147 "Design Wireframe for Website"
Hey, I would like to create the wireframe for the static website which would describe the app.
Please assign me this under GSSoC'21. Thank you :) @HimeshNayak @avinashkranjan

[2021-04-13 14:21] deeptea22 opened #148 "Design Prototype for Website"
Hey, I would like to create the prototype for the static website which would describe the app.
Please assign me this under GSSoC'21. Thank you :) @HimeshNayak @avinashkranjan

[2021-04-13 20:48] SamarpanCoder2002 commented on #145
@HimeshNayak @hareshnayak @avinashkranjan ..... I already made the request ..... Please review it and merge it .... Thanks

[2021-04-14 06:20] Varun8216889 commented on #141
Can, I take this issue??

[2021-04-14 06:26] oshi36 commented on #147
Hey @deeptea22, Just let us know what will be your Plan of Action for this. I am assigning it to you.

[2021-04-14 06:36] oshi36 commented on #141
Hey @Varun8216889, can you please tell me about your approach that how will you do that?

[2021-04-14 06:51] deeptea22 commented on #147
@oshi36 I have already finished the wireframe. Please let me know how i should upload it? Is it as an image file?
Also please assign me the design prototype issue as well #148 , so that i can continue with that. Thank you :)

[2021-04-14 08:40] Varun8216889 commented on #141
By adding some light and colour theme with the help of HTML and css.

[2021-04-14 12:16] HimeshNayak commented on #147
Upload it as an image file... lets all discuss the wireframe and then we'll assign you #148 and you can work on it @deeptea22

[2021-04-14 12:34] deeptea22 commented on #147
@HimeshNayak okay sure 👍🏽 . This is what i've come up with for the wireframe :
https://www.figma.com/file/xviuRdqrYnuZGrBBH5Rgrz/Untitled?node-id=0%3A1

[2021-04-14 12:37] HimeshNayak commented on #147
It looks great @deeptea22. @hareshnayak and @avinashkranjan kindly give your views on the UI

[2021-04-14 13:02] SamarpanCoder2002 commented on #145
Hello @HimeshNayak @avinashkranjan .... I fixed the bug in related pull request .... Please review and merge it..Thanks

[2021-04-14 13:14] SamarpanCoder2002 opened #150 "Add Recent Homework manually by user"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Want to add recent homework features...

**Describe alternatives you've considered**
User can manually add Recent Homework.....

**Additional context**
I am also a GSSOC21 participant..... If I can forward with that, Please assign me to here....

Thanks @avinashkranjan @HimeshNayak

[2021-04-14 14:42] oshi36 commented on #141
@Varun8216889 , currently this app is a mobile app and we are not working with flutter web .

[2021-04-14 14:45] oshi36 commented on #147
@deeptea22 , the wireframe is great . Let's just know the reviews of @avinashkranjan then you can work on prototype.👍

[2021-04-15 07:21] avinashkranjan commented on #147
Hey @deeptea22, Design Wireframe Looks Good..Kindly Create a PR on `gh-pages`
Create a Folder Named **Design Wireframe**..
So, You can be marked for this Contribution..

[2021-04-15 07:25] #132 closed

[2021-04-15 07:28] avinashkranjan commented on #56
@SpecTEviL @kanishkaa24 @abhishree07 @shreya-gb Anyone would like to work on the Logo.. Issue would be `FCFS`..

[2021-04-15 07:29] avinashkranjan commented on #131
Sure Go Ahead @anirudhsai20

[2021-04-15 07:30] avinashkranjan commented on #15
Hey @shreya-gb Issue is assigned to you..Go ahead with the Implementation

[2021-04-15 07:31] avinashkranjan commented on #61
Any Updates @rohats871 ?

[2021-04-15 07:32] avinashkranjan commented on #148
Assigned to You @deeptea22

[2021-04-15 07:34] avinashkranjan commented on #150
Hey @SamarpanCoder2002 , Recent Homework would get automatically updated Once, Homework is fed in the database..It should get updated as per the deadline of the Homework..Else User would have to do everything Manually..

[2021-04-15 07:57] deeptea22 commented on #147
Hey, @avinashkranjan I have added the wireframe in a folder named Design Wireframe and have made the PR on `gh-pages` branch. PR #151 Please have a look, Thank you :)

[2021-04-15 07:59] kanchi12P commented on #56
@avinashkranjan I was engaged in my semester exams and they are over today I will continue today working in this please assign me again

[2021-04-15 08:41] #147 closed

[2021-04-15 11:13] SamarpanCoder2002 commented on #150
Can you give me idea about how to insert data in recent homework to get automatically update??? Please @avinashkranjan @HimeshNayak

[2021-04-15 12:46] abhishree07 commented on #56
I am more than happy to work on the logo. Kindly assign me the task. I will
get started on it right away.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On

[2021-04-15 16:42] deeptea22 commented on #148
Hey, @avinashkranjan @oshi36 @HimeshNayak, I have started working on the design prototype and wanted to know if there was a preferred colour theme for the wesbite?

[2021-04-15 18:24] HimeshNayak commented on #145
Done

[2021-04-15 18:31] SamarpanCoder2002 commented on #145
Thanks a lot @HimeshNayak ... Hopw you merge it soon @avinashkranjan

[2021-04-15 18:46] HimeshNayak commented on #148
I think the app and website's color theme should match.

[2021-04-15 18:50] HimeshNayak opened #155 "Overflow at signup page"
**Describe the bug**
Some pixels are overflowing at the sign up page

**Screenshots**
![Screenshot_20210415_234906](https://user-images.githubusercontent.com/30944790/114922451-4efdf700-9e49-11eb-9db5-cc3de6e82880.png)

**Solution**
Adjust the padding and margin of the widgets on the screen according to MediaQuery

**Additional context**
Anyone who wants to work on it under GSSOC may comment here.

[2021-04-16 06:17] deeptea22 commented on #148
This is what i have come up with! Please review and let me know of the changes, if any. @avinashkranjan @oshi36 @HimeshNayak
https://www.figma.com/file/xviuRdqrYnuZGrBBH5Rgrz/Untitled?node-id=0%3A1

[2021-04-16 08:24] avinashkranjan commented on #150
Hey @SamarpanCoder2002, Once Homework data is fed into the Database, It would get sorted as which one to submit earliest..So, you need to create a form for Adding Homework Manually by User not Recent Homework..So Changing the Issue Title and Assigning it to you..Go Ahead..

[2021-04-16 08:29] #142 closed

[2021-04-16 09:05] nicks101 commented on #64
Where do you want to show the progress bar(on which screen)?
And we are not handling marks anywhere, so what should be the criteria to track the progress bar?

[2021-04-16 10:03] oshi36 commented on #148
Hey @deeptea22 , I think the background blue color is too loud and on the other hand purple is too light . It doesn't match with above one. Try a light shade of blue or anything else .

[2021-04-16 10:21] deeptea22 commented on #148
Hey, I have changed one part of the footer to black and one to light blue. Let me know which one looks nice and i will change the entire footer to that colour. Thanks :)

[2021-04-16 12:53] anotherwebguy commented on #155
i would like to work on this issue under gssoc ... plz assign me this issue @HimeshNayak

[2021-04-16 14:40] HimeshNayak commented on #155
Sure, go ahead! @anotherwebguy !

[2021-04-16 16:02] SamarpanCoder2002 commented on #145
Hello @avinashkranjan ... I resolved the conflicts in the in this related pull request.... Please merge it as soon as possible before any conflicts raise again..... Otherwise, I have to manage code again and that really frustrating...

Hope you understand @HimeshNayak @avinashkranjan

[2021-04-16 16:10] SamarpanCoder2002 commented on #150
Thanks for assign me... I will made a pull request soon

[2021-04-16 20:11] #145 closed

[2021-04-17 08:32] #155 closed

[2021-04-17 16:03] srisatya1197 opened #157 "I want to add no.of pr's,issues, stars and other in read me file."
I want to add no.of pr's, issues, stars and other in readme file.
Like:
![ss5](https://user-images.githubusercontent.com/78905067/115119158-99f04980-9fc4-11eb-91c2-ca423c41a49c.png)

[2021-04-18 07:57] aman339 commented on #56
I have also created and design Logo for Friday have a look at this. @avinashkranjan
![F R I D A Y (6)](https://user-images.githubusercontent.com/66405145/115138423-aff41d80-a049-11eb-878e-5c4fb73a3bce.png)
![F R I D A Y (7)](https://user-images.githubusercontent.com/66405145/115138427-b97d8580-a049-11eb-96de-e3f5dc159a49.png)

[2021-04-18 08:06] aman339 commented on #56
if These logo is perfect then assign me this issue under Gssoc.
or if u want me to just make another one then also let me know. @avinashkranjan

[2021-04-19 06:26] vatsalcode opened #158 "Admin Login/ Login page"
**Is your feature request related to a problem? Please describe.**
Application having a login feature is always treated better in terms of quality, appearance, and authenticity. Ex; Login using Google account, Email, Phone number, etc

[2021-04-19 06:27] #158 closed

[2021-04-19 06:30] avinashkranjan commented on #157
Sure Go Ahead @srisatya1197

[2021-04-19 14:41] alphaX86 commented on #56
Logo actually looks good! But let's see what the PA says... Then we can proceed

[2021-04-19 15:04] aman339 commented on #56
Ok Sir @alphaX86

[2021-04-20 07:12] vatsalcode opened #160 "Login Authentication/ Page /Panel"
**Try to build a login Panel/ Page. Where a person can login using Email/ Official id/Number.**
-The application looks more authentic when we have identity proof and using official email is a great way.
-UI/Design Should be attractive and matches the original theme of the application.

[2021-04-20 09:12] deeptea22 commented on #148
@oshi36 @HimeshNayak @avinashkranjan
Hey, I have changed one part of the footer to black and one to light blue. Let me know which one looks nice and i will change the entire footer to that colour. Thanks :)

[2021-04-21 06:46] oshi36 commented on #148
@deeptea22 black one is nice 👍

[2021-04-21 17:50] avinashkranjan commented on #160
Hey @vatsalcode App Already Uses Google, Facebook and Email Auth What more are you suggesting?

[2021-04-21 17:53] avinashkranjan commented on #56
Hey Aman, Keep the Logo Simple..Don't Put App Name in the Logo..cause when the size of the logo would decrease it would get distorted, Try Something Simple but Elegant which matches the theme of the app..

[2021-04-21 20:49] aman339 commented on #56
okay sir :) @avinashkranjan .
look at this.
![Friday_logodesign_1 (1)](https://user-images.githubusercontent.com/66405145/115617129-a3ecb200-a30e-11eb-9b8e-67a769d10322.png)

let me know if it may have changes and i am also working on another one friday's logo.

[2021-04-21 20:51] vatsalcode commented on #160
Hey, @avinashkranjan  we can also add the feature of mobile number opt login ??

[2021-04-22 01:49] alphaX86 commented on #56
It looks nice than the previous one! ❤️

[2021-04-22 07:35] aman339 commented on #56
Thank you sir @alphaX86

[2021-04-22 17:41] Ronak8602 commented on #160
Hey @vatsalcode I have an idea to implement this
We can have a small underlined statement below Icons of google and Facebook telling 'login via mobile number'
on pressing that It would take us to a separate screen from where we can login through mobile number. on successfull OTP verification user gets logged in
@vatsalcode  Can I work on this issue
I am a GSSOC 2021 participant
If yes than please

[2021-04-23 07:07] avinashkranjan commented on #160
We Can,
We'll have a add a section in Sign Up Page for Phone No.
- We'll have to verify it

and We have a section of Login using phone
- If you have registered using phone you'll need to feed the phone
- and you'll get the otp to login...

If anyone is up for taking the issue, Assign them

[2021-04-23 07:13] avinashkranjan commented on #56
Hey @aman339 This is looks better, Do you have any alternatives too to show?

[2021-04-23 20:40] believeInJha commented on #160
@vatsalcode  I would like to work on this issue under GSSoc21!

[2021-04-24 06:32] #131 closed

[2021-04-24 06:35] avinashkranjan commented on #160
Sure Go Ahead @believeInJha

[2021-04-25 10:02] believeInJha commented on #160
Thanks for the opportunity @avinashkranjan, I will make the PR and submit it.

[2021-04-26 12:41] Ronak8602 commented on #141
@oshi36  In profile page we can have toggle button with better UI which will switch themes into light and dark . We can provide 2 ThemeData functions which will be called using a ternary operator inside MaterialApp. Can i work on this issue.

[2021-04-26 12:48] Ronak8602 commented on #64
Hey @avinashkranjan @nicks101 We can have a progress graph right at the top of Recent Alerts . I can create that can I work on this issue

[2021-04-27 22:26] believeInJha commented on #160
Hey @avinashkranjan, can you send me the firebase credentials?

[2021-04-27 22:27] believeInJha commented on #160
`apurv.bmsit@gmail.com` is my firebase linked Gmail, kindly send me collaboration request.

[2021-04-30 15:48] avinashkranjan commented on #160
@believeInJha Added you..

[2021-04-30 15:49] avinashkranjan commented on #64
Can I see a prototype of the suggested feature?

[2021-04-30 15:53] #136 closed

[2021-05-01 07:59] aman339 commented on #56
yes @avinashkranjan  . and sorry for late joining i have my exams so thats why i am not active at that time.

![Friday_logodesign_2](https://user-images.githubusercontent.com/66405145/116775561-27ca3b00-aa81-11eb-8522-085c67ec9aa5.png)
![Friday_design_3](https://user-images.githubusercontent.com/66405145/116775562-2a2c9500-aa81-11eb-8131-afd5ce7cd594.png)

[2021-05-02 03:28] believeInJha commented on #160
Hey @avinashkranjan, I have a doubt here, how are we gonna verify the mobile number is registered or not?

[2021-05-02 07:22] Bhumika2409 commented on #104
I am a GSSOC'21 participant, can I fix the grammatical issues and make the README file more comprehensive.

[2021-05-04 13:42] KajalSinghBAGHEL opened #164 "Update README. md"
Remove grammatical mistakes

[2021-05-04 13:42] KajalSinghBAGHEL commented on #164
Can I work on this issue

[2021-05-04 15:57] #106 closed

[2021-05-05 11:34] believeInJha commented on #160
@avinashkranjan, @vatsalcode, @HimeshNayak  can you please guide me into this cause, I'm really stuck at this part.

[2021-05-05 19:32] HimeshNayak commented on #160
I guess that we can just check that the regex of the mobile number. if the number will be valid then the top will come to the phone.

[2021-05-06 09:06] believeInJha commented on #160
@HimeshNayak No, I meant how to verify the number is registered/sign up before or not. cause then only we'll be able to log in the user with all their details.

[2021-05-10 12:00] oshi36 commented on #141
@Ronak8602 what is your status on this issue, are you working on it?

[2021-05-10 14:25] darpankhanna opened #165 "Update Bug Report Template"
The issue template will try to prompt users for the basic information we always need for new issues.

[2021-05-10 17:20] avinashkranjan commented on #165
Go Ahead @darpankhanna

[2021-05-14 05:44] chazuttu commented on #141
I will add a toggle button through which for shifting to dark & light mode. I have already worked on this issue , please assign this to me to make PR for the issue.

[2021-05-14 06:07] oshi36 commented on #141
Go ahead !! @chazuttu

[2021-05-16 08:09] SKV-programmer commented on #56
I would like to work on this issue, @avinashkranjan kindly assign me this.

[2021-05-17 15:47] #165 closed

[2021-05-17 17:42] avinashkranjan commented on #56
Sure @SKV-programmer , I'll Select the Best out of all these logos

[2021-05-20 16:49] avinashkranjan commented on #15
Sure Go ahead.. @srishtij2000 , I don't think @shreya-gb is working on this anymore..

[2021-05-21 08:30] shreya-gb commented on #15
@avinashkranjan  I'm working on it as well sir. Thank you. we can collab together @srishtij2000

[2021-05-24 15:44] KajalSinghBAGHEL commented on #164
I am a GSSOC participant. Please check my pull request

[2021-05-24 16:57] avinashkranjan commented on #15
Sure Go ahead Collab..Will Give you guys Points Accordingly..as per the contribution done to the feature..

[2021-05-24 16:58] #164 closed

[2021-05-27 06:47] harshita2319 commented on #104
I'd like to work on this issue! (GSSOC participant)

[2021-05-28 10:13] keshavgbpecdelhi opened #170 "Assign Task"
Assign a simple task for level 0 student.

[2021-05-31 15:03] avinashkranjan commented on #170
What do you mean @keshavgbpecdelhi ?

[2021-06-01 04:17] #170 closed

[2021-09-18 10:50] Arsenic-ATG opened #172 "Faulty link in "CONTRIBUTING.md : Need more help?" section"
In ["`Need more help?🤔`"](https://github.com/avinashkranjan/Friday/blob/master/CONTRIBUTING.md#need-more-help) section of ["CONTRIBUTING.md"](https://github.com/avinashkranjan/Friday/blob/master/CONTRIBUTING.md), The second link, according to the text, should redirect user to a place that gives information regarding "Cloning a repository" but rather takes us to

Which tells nothing about the proce

[2021-09-30 19:10] Samkit-shah commented on #141
If this issue solved?
If not can i work on it?

[2021-09-30 19:16] avinashkranjan commented on #141
Go Ahead @Samkit-shah

[2021-09-30 19:39] Samkit-shah commented on #141
Sure thank you .

[2021-10-10 14:32] avinashkranjan commented on #172
Go Ahead @Dark-Knight11

[2021-10-10 14:33] #141 closed

[2021-10-12 18:06] #172 closed

[2022-06-22 04:35] thierryoliveira commented on #124
I felt free to make this migration and help the project with my contribution. The changes are in this pull request: #175

[2022-06-22 10:05] #61 closed

[2022-06-22 10:05] #124 closed

[2022-06-22 10:14] #104 closed

[2022-07-13 07:54] avinashkranjan commented on #160
Hey @pnkr01, It's not implemented, and you're free to take up this issue. Assigning it to you.

[2022-07-13 07:57] pnkr01 commented on #160
Thank you, I need the acess to firestore  to store the phone number and their corresponding data.

[2022-07-13 07:58] avinashkranjan commented on #160
Provided you access.

[2022-07-13 10:39] pnkr01 commented on #160
Hi, I have completed, and want to test and for that I have to change the security rules of firestore as I'm getting this issue(attached)
from

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.uid != null;
    }
  }
}

to

rules_version = '2';
service cloud.firestore {
  match /databases/{dat

[2022-07-13 11:55] avinashkranjan commented on #160
Go Ahead

[2022-11-05 04:24] ABHISHEK0S1INGH commented on #9
Hey @avinashkranjan  My name is Abhishek Singh and i want to contribute on this issue. Can you please assign me ?? It will be very greatful

[2022-11-05 04:26] ABHISHEK0S1INGH commented on #15
Hey @avinashkranjan
 My name is Abhishek singh and i want to contribute on this issue. Can you please assign me ?? It will be very greatful

[2022-11-05 05:32] avinashkranjan commented on #9
Go Ahead @ABHISHEK0S1INGH , Assigning it to you..

[2022-11-05 05:32] avinashkranjan commented on #15
Go Ahead @ABHISHEK0S1INGH , Assigning it to you..

[2022-11-06 16:06] ABHISHEK0S1INGH commented on #9
hi @avinashkranjan, i need some help regarding the issue.
Can you help me please.